@page
@model Index
@{

}

<div class="text-center">
    @{
        if (Model.DataResult != null)
        {
            
            if (Model.DataResult.Data != null && Model.DataResult.Data.Any())
            {
                <h1 class="display-4">Population Data</h1>
                <h2>Total Records: @Model.DataResult.Data.Count</h2>

                <div>
                    @foreach (var item in Model.DataResult.Data)
                    {
                        <p>
                            <strong>Nation:</strong> @item.Nation <br />
                            <strong>Year:</strong> @item.Year <br />
                            <strong>Population:</strong> @item.Population <br />
                            <strong>Slug Nation:</strong> @item.SlugNation
                        </p>
                    }
                </div>
            }
            else
            {
                <h2>No population data available</h2>
            }

            
            if (Model.DataResult.Source != null && Model.DataResult.Source.Any())
            {
                <h2>Source Information</h2>
                <div>
                    @foreach (var source in Model.DataResult.Source)
                    {
                        <div>
                            <p>
                                <strong>Source Name:</strong> @source.Name <br />
                                <strong>Measures:</strong> @string.Join(", ", source.Measures) <br />
                                <strong>Source Name:</strong> @source.Annotations.SourceName <br />
                                <strong>Source Description:</strong> @source.Annotations.SourceDescription <br />
                                <strong>Dataset Name:</strong> @source.Annotations.DatasetName <br />
                                <strong>Dataset Link:</strong> <a href="@source.Annotations.DatasetLink" target="_blank">@source.Annotations.DatasetLink</a> <br />
                                <strong>Table ID:</strong> @source.Annotations.TableId <br />
                                <strong>Topic:</strong> @source.Annotations.Topic <br />
                                <strong>Subtopic:</strong> @source.Annotations.Subtopic
                            </p>
                        </div>
                    }
                </div>
            }
            else
            {
                <h2>No source information available</h2>
            }
        }
        else
        {
            <h2>No data</h2>
        }
    }
    <p>Drexler Macaspac CC213</a>.</p>
</div>
